
@{
    ViewBag.Title = "Index";
}

<h2>Cadastro de Alunos</h2>

<br/><br />

@Html.ActionLink("Listar Alunos", "Listar")<br/><br />
@Html.ActionLink("Relatório por Idade", "ListarIdade")<br/><br />
@Html.ActionLink("Incluir Aluno", "Incluir")<br/><br />

